In [1]:
from google.colab import files
uploaded = files.upload()

Saving book.xls to book.xls

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
RS_data = pd.read_excel("book.xls")

In [4]:
RS_data.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [5]:
RS_data.isnull().sum()

Unnamed: 0     0
User.ID        0
Book.Title     0
Book.Rating    0
dtype: int64

In [6]:
RS_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   User.ID      10000 non-null  int64
 2   Book.Title   10000 non-null  object
 3   Book.Rating  10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [7]:
RS_data.dtypes

Unnamed: 0      int64
User.ID         int64
Book.Title     object
Book.Rating     int64
dtype: object

In [8]:
RS_data.describe()

        Unnamed: 0        User.ID  Book.Rating
count  10000.00000   10000.000000  10000.00000
mean    5000.50000   95321.249800      7.56630
std     2886.89568  117645.703609      1.82152
min        1.00000       8.000000      1.00000
25%     2500.75000    2103.000000      7.00000
50%     5000.50000    3757.000000      8.00000
75%     7500.25000  162052.000000      9.00000
max    10000.00000  278854.000000     10.00000

In [ ]:
RS_data.dropna(inplace=True)

In [ ]:
RS_data.dtypes

Unnamed: 0      int64
User.ID         int64
Book.Title     object
Book.Rating     int64
dtype: object

In [15]:
New_data = RS_data

In [16]:
New_data['Book.Title'] = New_data['Book.Title'].str.strip()

In [18]:
New_data['Book.Title'] = New_data['Book.Title'].str.replace('[^a-zA-Z0-9\s]', '')

<ipython-input-18-0e5b2d9751d1>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  New_data['Book.Title'] = New_data['Book.Title'].str.replace('[^a-zA-Z0-9\s]', '')

In [19]:
New_data.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu The Story of the Great Influenza Pandemic ...,8
4,5,276737,The Mummies of Urumchi,6

In [20]:
New_data.isnull().sum()

Unnamed: 0     0
User.ID        0
Book.Title     3
Book.Rating    0
dtype: int64

In [21]:
# Find the most frequent book title
most_frequent_book = New_data['Book.Title'].mode()[0]

# Fill missing values in the 'Book.Title' column with the most frequent value
New_data['Book.Title'].fillna(most_frequent_book, inplace=True)

In [22]:
New_data.isnull().sum()

Unnamed: 0     0
User.ID        0
Book.Title     0
Book.Rating    0
dtype: int64

In [28]:
# Remove duplicate values from the index
New_data = New_data.drop_duplicates(subset=['User.ID', 'Book.Title'])

In [29]:
# Pivot the data
ratings = New_data.pivot(index='User.ID', columns='Book.Title', values='Book.Rating')

In [53]:
# Fill in missing values with the mean of each column
ratings = ratings.fillna(ratings.mean())

In [59]:
New_data

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu The Story of the Great Influenza Pandemic ...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried Adventures of a Happy Eater,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [61]:
New_data.isnull().sum()

Unnamed: 0     0
User.ID        0
Book.Title     0
Book.Rating    0
dtype: int64

In [62]:
from sklearn.metrics.pairwise import cosine_similarity

# Calculate cosine similarity
cosine_sim = cosine_similarity(ratings)

In [63]:
from sklearn.metrics.pairwise import cosine_similarity

# Find most similar books for a given book
book_title = 'Icebound'
target_book = ratings[book_title].values.reshape(1, -1)
cosine_sim = cosine_similarity(ratings.values)
similarities = cosine_sim.dot(target_book.T)
similar_books = pd.Series(similarities.flatten(), index=ratings.index).sort_values(ascending=False).index[1:]
if book_title in similar_books:
    print("Books similar to '{}' are:".format(book_title))
    print(similar_books.drop(book_title).head())
else:
    print("Book title not found in similarity scores.")

Book title not found in similarity scores.